.references {
  display: none;
}

.reference {
  padding: 6px 0 6px 12px;
  margin-bottom: 6px;
}

.toggle {
  color: #267CB9;
} 
.toggle:hover {
  cursor: pointer;
  color: #069;
}

.abstract, .bibtex {
  color: #586368;
  margin: 12px 12px 6px 0;
  padding: 0px 0 0px 12px;
  border-left: solid 4px #0D96D8;
  display: none;
}

.bibtex {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
}

h2 {
  margin-top: 20px;
}

h4 {
  margin-bottom: 6px;
}
